<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>darimana.app</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id='app'>
        <div class='app-input'>
            <h1>Gw mau ke</h1>

            <input ref="autocomplete" class="search-location" type="text" name="destination" id="destination" placeholder=" " autofocus>

            <h1>naik KRL + transportasi online.</h1>
            <br>
            <h1>Pesen dari stasiun mana ya?</h1>
        </div>
        <br><br>

        <div class='app-result' v-if="filteredStops.length > 0">
            <div class='result-row' v-for="stop in filteredStops" :key="stop.id">
                <h1 class='stop-name'>St. {{ stop.name }}</h1>
                <h2 class='stop-dest-dist'>{{ stop.formattedDist }}km ke tujuan</h2>
                <a v-bind:href="getGmapsLink(place.geometry.location, place.place_id, stop.stopLatLng, stop.originGmapsId)" target="_blank" class='stop-dest-nav-link'>
                    <h3>Cek rute ke tujuan</h3>
                </a>
                
                <div class="result-route-div">
                    <h2>Stasiun ini tersedia di rute:</h2>
                </div>
                <span v-for="line in getLines(stop.id)">
                    <a class='stop-routes-title-link'>
                        <h2>{{line.longName}} <br>({{line.name}})</h2>

                    </a>
                </span>

                <div class="result-route-div"></div>
                <a v-bind:href="getGmapsLink(stop.stopLatLng, stop.originGmapsId, '', '')" target="_blank" class='stop-dest-nav-link'>
                    <h3>Cek rute ke St. {{ stop.name }}</h3>
                </a>
            </div>
        </div>
        <br>
        <br>
    </div>

    <div class='footer'>
        <p><b>drmn.app</b></p>
        <p>Something wrong? Something you want to see here?</p>
        <p>email here -> hello [at] raihansaputra.com</p>
    </div>
    <br>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKvX1De4bLuCzT3gujxmtM7Th80dB2r_c&libraries=geometry,places,routes"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript" src="index.js"></script> 

</body>
</html>