@import url('https://rsms.me/inter/inter-ui.css');

html, body {
    height: 100%;
}

html { 
    font-family: 'Inter UI', sans-serif; 
    max-width: 800px; /* phone max size TODO change to better way*/
    font-size: large;
    /* keeping this centered on larger displays */
    display: table;
    margin: auto;
}
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

body {
    padding-top: 3em;
    display: table-cell;
    vertical-align: middle;
}

button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:0em; 
    cursor: pointer;
}

#destination {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0.07em solid black;
    font-size: 2em;
}

.app-input h1,input {
    padding-bottom: 0em;
    padding-top: 0em;
    margin-top: 0.1em;
    margin-bottom: 0em;
    width: 100%;
}

.submitlink {
    width: 100%;
    text-align: left;
}

.submitlink h1 {
    color: black;
    text-decoration: underline;
    text-decoration-color: blue;
    border: 4px solid limegreen;
    width: 105%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.06em;
    text-align: center;
}

.result-row {
    margin-bottom: 1em;
}

.result-route-div {
    margin-top: 0.5em;
}

.result-row h1,h2,h3,h4,h5,p {
    padding: 0;
    margin: 0;
}

.stop-dest-nav-link h3 {
    color: black;
    text-decoration: underline;
    text-decoration-color: transparent;
    border: 4px solid #4285F4;
    width: 105%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.07em;
    padding-top: 0.05em;
    margin-top: 0.05em;
    text-align: center;
}

.stop-dest-nav-link {
    align-self: center;
}

.stop-routes-title-link h2 {
    color: black;
    text-decoration: underline;
    text-decoration-color: transparent;
    width: 105%;
    margin: 0;
    padding: 0;
    padding-bottom: 0.06em;
    margin-top: 0.08em;
    text-align: left;
}